*.pyc
data/test_dataset/imgs/*
data/test_dataset/masks/*
data/test_dataset/predicted_baseline/*
data/test_dataset/predicted_modified/*
data/train_dataset/imgs/*
data/train_dataset/masks/*
__pycache__/
checkpoints/
*.pth
*.jpg
venv/
.idea/
wandb/
